# directories
.metadata/
RemoteSystemTempFiles/
H750VBT6-flight-board-v0/Debug/
H750VBT6-flight-board-v0/.settings/
H750VBT6-flight-board-v0/.metadata/
H750VBT6-flight-board-v0/RemoteSystemTempFiles/


# files
.cproject
.mxproject
.project